*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;   
    background-color: darkcyan;
    color: white;
}

.logo{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.navcontent {
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.navcontent a {
    color: aliceblue;
    letter-spacing: 2px;
    border: solid;
    border-color: aliceblue;
    border-radius: 3px;
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
}

.navcontent li {
    list-style: none;
}

.aboutme {
    background-color:aliceblue;
    color: rgb(122, 184, 168);
}

.aboutme img{
    display: flex;
    max-height: 10%;
    max-width: 10%;
    border-radius: 100px;
    float: right;
}

.aboutme p{
    padding: 10px;
}

.aboutme h3{
    padding: 10px;
}

.work h3{
    padding: 10px;
}

.workone img{
    display: flex;
    max-height: 15%;
    max-width: 15%;
    border-radius: 100%;
    padding: 15px;
}

.workone:hover img{
    transform: sale(1.5);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: 16%;
    max-height: 16%;
}

.worktwo img{
    display: flex;
    max-width: 15%;
    max-height: 15%;
    border-radius: 100%;
    padding: 15px;
}

.worktwo:hover img{
    transform: scale(1.5);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: 11%;
    max-height: 11%;
}

.work{
    background-color: pink;
}

.tunatxt{
    color: darkmagenta;
    display: inline-flex;

}

.cowtxt{
    color: darkmagenta;

}
.contact {
    text-align: center;
    background-color: rgb(174, 201, 174);
    color:rgb(96, 168, 106);
    padding: 15px;
    letter-spacing: 3px;
}

h5{
    display: block;
    flex-direction: center;
    align-items: center;
    text-align: center;
}

.contactinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer {
    color:rgb(112, 158, 167);
    background-color: rgb(223, 233, 215);
    text-align: center;
    border-radius: 5px;
}