*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;   
    background-color: darkcyan;
    color: aliceblue;
}

.logo{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.navcontent {
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.navcontent a {
    color: aliceblue;
    letter-spacing: 2px;
    border: solid;
    border-color: aliceblue;
    border-radius: 3px;
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
}

.navcontent li {
    list-style: none;
}

.aboutme {
    background-color: rgb(216, 247, 242);
    color: darkcyan;
}

.aboutme img{
    display: flex;
    max-height: 10%;
    max-width: 10%;
    border-radius: 100px;
    float: right;
}

.aboutme p{
    padding: 10px;
}

.aboutme h3{
    padding: 10px;
}

.work h3{
    padding: 10px;
}

.workone img{
    display: flex;
    max-height: 15%;
    max-width: 15%;
    border-radius: 100%;
    padding: 15px;
}

.worktwo img{
    display: flex;
    max-width: 16%;
    max-height: 16%;
    border-radius: 100%;
    padding: 15px;
}

.work{
    background-color: pink;
}

.footer {
    color:rgb(112, 158, 167);
    background-color: rgb(223, 233, 215);
    text-align: center;
    border-radius: 5px;
}